__pycache__
.ipynb_checkpoints/*
debug.log

build/*
_build
dist/*
torchattacks.egg-info/*
data/*
models/*
*/.*
MENIFEST.in
setup.cfg
setup.py
_commit.bat

autoattack/*

demo/_*
demo/data/*
demo/models/*
TODO.txt